div.login { 
  text-align: left;
  position:absolute;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
} 

div#pass {
  text-align: left;
  font-weight:bold;
  padding-left:2px;
}

input#Password {
  -webkit-text-security: disc;
}

#passwd {
  display: block;
  width: 100%;
  height: 34px;
}

div.busy { 
  position:absolute;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  display:none;
  background: rgba(230, 230, 230, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
}
/*body {
  margin:1cm;
  font-size: 12px;
}*/

.shiny-output-error {
  visibility: hidden;
}
